.layout-archive {
  .list {
    .item {
      padding-left: 0em;
      .meta {
        flex: 0 0 6em;
      }
    }
  }
}

.archive-group {
  &.sep-after {
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
