.entry-meta {
  margin-top: 0.75em;

  span {
    @include font-size(0.9375);
    margin-right: 0.75em;
    font-style: italic;
  }

  .icon {
    margin-right: 0.25em;
  }

  a {
    border-bottom: .125em dotted $color__grey;
  }
}
